extends layout

block content
 h1= title

  if(toShow == null)
    h2 No instance to detail
  else
    - let Marutiid = toShow._id
    - let Maruti_type = toShow.color
    - let Marutiquantity = toShow.quality
    - let Maruticost = toShow.Rate
    - let actionid = "/resource/Maruti/" + Marutiid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='MarutiAttr mr-3') Maruti ID is: 
      span(style="color:red") #{Marutiid}
    div.row
    div(class='MarutiAttr mr-3') Maruti color is: 
      span(style="color:red") #{Maruti_type}
    div.row
    div(class='MarutiAttr mr-3') Maruti Quality is: 
      span(style="color:red") #{Marutiquantity}
    div.row
    div(class='MarutiAttr mr-3') Maruti Rate is:
      span(style="color:red") #{Maruticost}
    button(class="btn btn-primary m-2" onclick="detailOnid()") Goback
    button(class="btn btn-danger m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the Maruti collection
    window.location.href='/Maruti'
    }
    function detailOnid() {
    window.location.href='/Maruti'
    }
